.container {
    width: 700px;
    height: 700px;
    perspective: 600px;
}

.a {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
}

.a.animated {
    animation: pacman 4s ease-in-out 0s 1 alternate forwards;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100px 173.2px 100px;
    transform-origin: 50% 173.2px;
    position: absolute;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    vertical-align: center;
    transition: border-color 0.5s ease-in-out;
}

#a1 {
    transform: rotateZ(0deg);
    left: 200px;
    top: 0px;
    z-index: 999;
}

#a1.animated {
    animation: flippera1 4s ease-in-out 0s 1 alternate forwards;
}

#b1 {
    transform: rotateZ(-120deg);
    left: 150px;
    top: 86.6px;
    z-index: 998;
}

#b2 {
    transform: rotateZ(180deg);
    left: 200px;
    top: 0px;
    z-index: 998;
}

#b3 {
    transform: rotateZ(120deg);
    left: 250px;
    top: 86.6px;
    z-index: 998;
}

#c1 {
    transform: rotateZ(-120deg);
    left: 50px;
    top: 259.8px;
    z-index: 999;
}

#c1.animated {
    animation: flipperc1 4s ease-in-out 0s 1 alternate forwards;
}

#c2 {
    transform: rotateZ(-180deg);
    left: 100px;
    top: 173.2px;
    z-index: 998;
}

#c3 {
    transform: rotateZ(180deg);
    left: 300px;
    top: 173.2px;
    z-index: 998;
}

#c4 {
    transform: rotateZ(120deg);
    left: 350px;
    top: 259.8px;
    z-index: 999;
}

#c4.animated {
    animation: flipperc4 4s ease-in-out 0s 1 alternate forwards;
}

@keyframes flippera1 {
    0% {
        transform: rotateZ(0deg) rotateX(0deg);
    }
    45% {
        transform: rotateZ(0deg) rotateX(180deg);
    }
    55% {
        transform: rotateZ(0deg) rotateX(180deg);
    }
    100% {
        transform: rotateZ(0deg) rotateX(0deg);
    }
}

@keyframes flipperc1 {
    0% {
        transform: rotateZ(-120deg) rotateX(0deg);
    }
    45% {
        transform: rotateZ(-120deg) rotateX(-180deg);
    }
    55% {
        transform: rotateZ(-120deg) rotateX(-180deg);
    }
    100% {
        transform: rotateZ(-120deg) rotateX(0deg);
    }
}

@keyframes flipperc4 {
    0% {
        transform: rotateZ(120deg) rotateX(0deg);
    }
    45% {
        transform: rotateZ(120deg) rotateX(180deg);
    }
    55% {
        transform: rotateZ(120deg) rotateX(180deg);
    }
    100% {
        transform: rotateZ(120deg) rotateX(0deg);
    }
}

@keyframes pacman {
    0% {
        transform: rotateX(0deg) rotateZ(0deg);
    }
    45% {
        transform: rotateX(-180deg) rotateZ(-90deg);
    }
    55% {
        transform: rotateX(-180deg) rotateZ(-90deg);
    }
    100% {
        transform: rotateX(0deg) rotateZ(0deg);
    }
}

.color1 {
    border-color: transparent transparent #f34234 transparent;
}

.color2 {
    border-color: transparent transparent #c62525 transparent;
}

.color3 {
    border-color: transparent transparent #e63632 transparent;
}

.color4 {
    border-color: transparent transparent #fe6e3f transparent;
}